* {
    margin: 0;
    padding: 0;
}
body{
    background: rgb(126, 123, 123);
}
div {
    display: block;
}
.w {
    position: relative;
    z-index: 11;
    height: 140px;
}
.w {
    margin: auto;
    width: 1190px;
}
.search-m .form {
    position: absolute;
    left: 320px;
    top: 25px;
    width: 550px;
    height: 35px;
}
.search-m .text {
    left: 0;
    padding: 4px 44px 4px 4px;
    width: 450px;
    height: 25px;
    border: 1px solid transparent;
    line-height: 25px;
    font-size: 14px;
    color: #989898;
}

.search-m .button, .search-m .text {
    position: absolute;
    top: 0;
    outline: none;
}
.photo-search-btn {
    position: absolute;
    right: 65px;
    top: 10px;
    width: 19px;
    height: 15px;
    overflow: hidden;
}
form {
    display: block;
    margin-top: 0em;
}
.photo-search-btn .upload-bg {
    display: block;
    width: 19px;
    height: 15px;
    background: url(//misc.360buyimg.com/product/search/1.0.4/css/i/sprite-photo-search.png) no-repeat;
    cursor: pointer;
}
.photo-search-btn .upload-trigger {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    width: 500px;
    height: 500px;
    cursor: pointer;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
}
.search-m .button {
    -moz-border-radius: 0;
    border-radius: 0;
    right: 0;
    width: 50px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-color: #f10215;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.search-m .text {
    left: 0;
    padding: 4px 44px 4px 4px;
    width: 450px;
    height: 25px;
    border: 1px solid transparent;
    line-height: 25px;
    font-size: 14px;
    color: #989898;
}
.search-m .button, .search-m .text {
    position: absolute;
    top: 0;
    outline: none;
}
button, input {
    font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
button {
    cursor: pointer;
}
button, input {
    font-family: Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,\\5B8B\4F53,sans-serif;
}
button {
    cursor: pointer;
}
#settleup {
    position: absolute;
    right: 99px;
    top: 25px;
    z-index: 21;
}
#settleup .cw-icon {
    width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
}
.cw-icon {
    overflow: hidden;
    position: relative;
    z-index: 1;
    float: left;
    border: 1px solid #e3e4e5;
}
#settleup .dorpdown-layer, #settleup .dropdown-layer {
    top: 35px;
    right: 0;
    width: 308px;
}
.dorpdown-layer, .dropdown-layer {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 2px 1px rgba(0,0,0,.1);
    box-shadow: 1px 2px 1px rgba(0,0,0,.1);
}
a{
    text-decoration: none;
    color: rgb(233, 18, 18);
}
span{
    position: absolute;
    right: 7px;
    top: -9px;
}
.upload-bg .icon-camera{
    font-size: 30px;
}
.icon-gouwuche2{
    color: #f10215;
    padding-right: 7px;
}
.button .icon-search{
    font-size: 25px;
}